.gifts{
    padding: 2.5rem 0rem 0 0;
}

.gifts  h2{
    color: #005099;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}


.gifts .bottomgifts{
    display: flex;
    flex-wrap: wrap;
}

.gifts .bottomgifts img{
    background-color: rgba(199, 200, 202, 0.206);
    padding: 40px 0;
    margin: 20px 0;
    width: 350px;
    height: 350px;
    object-fit: cover;
}



.gifts .bottomgifts .bottombottom{
    color: #005099;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
    padding: 0;
    height: 100px;
}

.gifts .bottomgifts .icondiv{
    margin-top: -10px;
}

.gifts .bottomgifts .icondiv .green {
    color: #007367;
}

.gifts .bottomgifts .icondiv span{
    font-size: 10px;
}

.gifts .bottomgifts .price{
    color:#81A2C9;
    font-weight: 500;
}



.gifts .bottomgifts .bottomgif{
    position: relative;
    width: 33%;
}

.gifts .bottomgifts .bottomgif:hover .bottombottom{
    color: #91DFB9;
}

.gifts .bottomgifts .bottomgif:hover .quickaddbtngifts{
    opacity: 1;
}

.gifts .bottomgifts .best{
    position: absolute;
    top: -15px;
    right: 35px;
    text-align: center;
    color: #005099;
    font-weight: 800;
    border-radius: 50%;
    font-size: 14px;
    width: 86px;
    height: 86px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #91DFB9;
}


.gifts .bottomgifts .quickaddbtngifts{
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    transition: .3s;
    opacity: 0;
}

.gifts .bottomgifts .quickaddbtngifts:hover .btn{
    background-color: #91DFB9;
    color: #fff;
    border: 1px solid #91DFB9;
}



.gifts .bottomgifts  .quickaddbtngifts button{
    border: none;
    background-color: #fff;
    padding: 15px ;
    width: 100%;
    outline: none;
    border: 1px solid #005099;
    color: #005099;
    font-weight: 800;
    font-size: 14px;
    transition: .3s;
    border-radius: 0;
}


@media(max-width:576px){
    .gifts .bottomgifts .bottomgif{
        width: 100%;
    }
    .gifts .bottomtop img{
        width: 100%;
        height: 100%;
    }
}