.breakfastmixes{
    padding: 2.5rem 0rem 0 0;
}

.breakfastmixes  h2{
    color: #005099;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}


.breakfastmixes .bottombreakfastmixes{
    display: flex;
    flex-wrap: wrap;
}

.breakfastmixes .bottombreakfastmixes img{
    background-color: rgba(199, 200, 202, 0.206);
    padding: 40px 0;
    margin: 20px 0;
    width: 350px;
    height: 350px;
    object-fit: cover;
}



.breakfastmixes .bottombreakfastmixes .bottombottom{
    color: #005099;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
    padding: 0;
    height: 100px;
}

.breakfastmixes .bottombreakfastmixes .icondiv{
    margin-top: -10px;
}

.breakfastmixes .bottombreakfastmixes .icondiv .green {
    color: #007367;
}

.breakfastmixes .bottombreakfastmixes .icondiv span{
    font-size: 10px;
}

.breakfastmixes .bottombreakfastmixes .price{
    color:#81A2C9;
    font-weight: 500;
}



.breakfastmixes .bottombreakfastmixes .bottombreakfast{
    position: relative;
    width: 33%;
}

.breakfastmixes .bottombreakfastmixes .bottombreakfast:hover .bottombottom{
    color: #91DFB9;
}

.breakfastmixes .bottombreakfastmixes .bottombreakfast:hover .quickaddbtnbreakfast{
    opacity: 1;
}

.breakfastmixes .bottombreakfastmixes .best{
    position: absolute;
    top: -15px;
    right: 35px;
    text-align: center;
    color: #005099;
    font-weight: 800;
    border-radius: 50%;
    font-size: 14px;
    width: 86px;
    height: 86px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #91DFB9;
}


.breakfastmixes .bottombreakfastmixes .quickaddbtnbreakfast{
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    transition: .3s;
    opacity: 0;
}

.breakfastmixes .bottombreakfastmixes .quickaddbtnbreakfast:hover .btn{
    background-color: #91DFB9;
    color: #fff;
    border: 1px solid #91DFB9;
}



.breakfastmixes .bottombreakfastmixes  .quickaddbtnbreakfast button{
    border: none;
    background-color: #fff;
    padding: 15px ;
    width: 100%;
    outline: none;
    border: 1px solid #005099;
    color: #005099;
    font-weight: 800;
    font-size: 14px;
    transition: .3s;
    border-radius: 0;
}


@media(max-width:576px){
    .breakfastmixes .bottombreakfastmixes .bottombreakfast{
        width: 100%;
    }
}