.mainproducts{
    padding: 4rem 50px 1rem 50px;
    margin: 0 24px;
}
.mainproducts .leftmainproducts{
    align-self: flex-start;
    position: sticky;
    top: 20px;
}
.mainproducts .leftmainproducts ul{
    list-style-type: none;
}

.mainproducts .leftmainproducts .mainul{
    padding-left: 0 !important;
}

.mainproducts .selectiondiv{
    display: none;
}

.mainproducts .leftmainproducts ul li{
    padding:  0 0 25px;
}


.mainproducts .leftmainproducts a{
    text-decoration: none;
    font-size: 18px;
    color: #005099;
    line-height: 1.67;
    font-weight: 500;
}

.mainproducts .rightmainproducts{
    padding:  0;
}


@media(max-width:576px){
    .mainproducts{
        padding: 2rem 0;
    }
    .mainproducts .selectiondiv{
        display: block;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        border: 1px solid #005099;
        margin-bottom: 20px;
    }

    .mainproducts .mainul{
        padding: 0;
        opacity: 0;
        height: 0;
    }
    .mainproducts .allmainproducts{
        display: flex;
        flex-direction: column;
    }
    .mainproducts .leftmainproducts{
        position:static;
    }
}